{% extends 'base.html.twig' %}

{% block title 'tous nos biens en vente' %}

{% block body %}

	<div class="propriete">
		<h1>
			Voir tous nos biens !
		</h1>

		<div>
			<ul>
				<li>Proprieté 1</li>
				<li>Proprieté 1</li>
				<li>Proprieté 1</li>
				<li>Proprieté 1</li>
				<li>Proprieté 1</li>
				<li>Proprieté 1</li>
			</ul>
		</div>
	</div>

{% endblock %}
